body {
  font-family: 'Rubik', "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

.visually-hidden:not(:focus):not(:hover), input[type="checkbox"].visually-hidden, input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* === HEADER STARTS === */
.header-title {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.header-title {
  animation-duration: 2s;
  animation-name: slidein;
}

.header-title h2:hover {
  color: #e74246;
  text-shadow: 0 0 10px #e74246;
  border-radius: 5px;
  transform: scale(1.1);
  transition: all 600ms ease-in;
}

@keyframes slidein {
  from {
    opacity: 0;
    left: -1200px;
  }

  to {
    opacity: 1;
    left: 0;
  }
}

@media all and (max-width: 768px) {
  .main-nav li:nth-child(2) {
    display: none;
  }
}

.img {
  background-color: #c0c0c0;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

.main-nav {
  display: flex;
  justify-content: center;
  padding: 40px 0;
}

.main-nav ul {
  display: flex;
  justify-content: space-between;
  width: 500px;
  margin: 0;
  padding: 0;
}

.main-nav-item {
  width: 64px;
  height: 64px;
  background-color: #e1e1e1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.main-nav-home::after {
  content: "";
  position: relative;
  top: 50%;
  left: 50%;
  width: 32px;
  height: 32px;
  margin-top: -65px;
  margin-left: -65px;
  background-image: url("../img/home.svg");
}

.main-nav-gallery::after {
  content: "";
  position: relative;
  top: 50%;
  left: 50%;
  width: 32px;
  height: 32px;
  margin-top: -65px;
  margin-left: -65px;
  background-image: url("../img/camera.svg");
}

.main-nav-info::after {
  content: "";
  position: relative;
  top: 50%;
  left: 50%;
  width: 32px;
  height: 32px;
  margin-top: -65px;
  margin-left: -65px;
  background-image: url("../img/info.svg");
}

.main-nav-mail::after {
  content: "";
  position: relative;
  top: 50%;
  left: 50%;
  width: 32px;
  height: 32px;
  margin-top: -65px;
  margin-left: -65px;
  background-image: url("../img/envelop.svg");
}

.main-nav-item:hover {
  background-color: #e74246;
  box-shadow: 0 0 10px #e74246;
  transform: scale(1.1);
  transition: all 200ms ease-in;
}

/* === HEADER ENDS === */
/* === MAIN STARTS === */
.main {
  padding: 40px 0;
}

p::first-letter {
  font-size: 200%;
  padding-left: 40px;
}

p {
  font-size: 20px;
  line-height: 28px;
}

.skills h2 {
  padding-left: 20px;
}

.skill-set {
  text-align: center;
  padding: 0;
}

.skill-set span:first-child {
  background: white;
}

.skill-set span {
  border-radius: 7px;
  background: #ddd;
}

.skills {
  border-radius: 5px;
  border: 1px solid #363636;
  border-bottom-width: 3px;
}

.skills:hover {
  box-shadow: 0 0 10px #e74246;
  transform: scale(1.1);
  transition: all 200ms ease-in;
}

/* === MAIN ENDS === */
/* === FOOTER STARTS === */
.main-social {
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 40px 0;
}

.main-social ul {
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin: 0;
  padding: 0;
}

.main-social-webpage {
  text-align: center;
}

.social-button {
  width: 64px;
  height: 64px;
  background-color: #e1e1e1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.social-button-linkedin::after {
  content: "";
  position: relative;
  top: 50%;
  left: 50%;
  width: 32px;
  height: 32px;
  margin-top: -65px;
  margin-left: -65px;
  background-image: url("../img/linkedin2.svg");
}

.social-button-github::after {
  content: "";
  position: relative;
  top: 50%;
  left: 50%;
  width: 32px;
  height: 32px;
  margin-top: -65px;
  margin-left: -65px;
  background-image: url("../img/github.svg");
}

.social-button-facebook::after {
  content: "";
  position: relative;
  top: 50%;
  left: 50%;
  width: 32px;
  height: 32px;
  margin-top: -65px;
  margin-left: -65px;
  background-image: url("../img/facebook.svg");
}

.social-button:hover {
  background-color: #e74246;
  box-shadow: 0 0 10px #e74246;
  transform: scale(1.1);
  transition: all 200ms ease-in;
}

/* === FOOTER ENDS === */
/* === GALLERY STARTS === */
.gallery-img {
  border-radius: 10px;
  border: 2px solid #ddd;
  border-bottom-width: 3px;
  padding: 5px;
  margin-bottom: 25px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

.gallery-img:hover {
  box-shadow: 0 0 20px #e74246;
  transform: scale(1.05);
}

.gallery-img:nth-child(4):hover {
  transform: scale(1.02);
}

/* === GALLERY ENDS === */
/* === CONTACTME STARTS === */
.form-control {
  border-radius: 5px;
  border: 1px solid #363636;
  border-bottom-width: 3px;
  padding: 5px;
}

.contact ul {
  padding: 0;
}

.contact-mail a,
.contact-mobile a {
  color: black;
}

.contact-mail a:hover,
.contact-mobile a:hover {
  color: #e74246;
  transition: all 200ms ease-in;
}

.contact-mail-link {
  position: relative;
  padding-left: 30px;
}

.contact-mail-link::before {
  content: "";
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
  background-image: url("../img/mail.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.contact-mobile-link {
  position: relative;
  padding-left: 30px;
}

.contact-mobile-link::before {
  content: "";
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
  background-image: url("../img/mobile.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

/* === CONTACTME ENDS === */
